.btn-close-effect {
  color: #fff;
  background: #c300ff;
  font-size: 14px;
  border: none;
  transition: 0.35s;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
}
.btn-close-effect:hover,
.btn-close-effect:focus {
  color: white;
  box-shadow: inset -5.5em 0 0 0 #00b7ff, inset 5.5em 0 0 0 #00b7ff;
}

.btn-close-effect2 {
  color: #6b03ff;
  background: lime;
  padding: 8px 30px;
  font-size: 14px;
  border: none;
  transition: 0.35s;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
}
.btn-close-effect2:hover,
.btn-close-effect2:focus {
  color: white;
  box-shadow: inset -5.5em 0 0 0 #00b7ff, inset 5.5em 0 0 0 #00b7ff;
}

.btn-close-effect3 {
  background: transparent;
  color: #fff;
  border: none;
  transition: 0.35s;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
}

.btn-close-effect3:hover,
.btn-close-effect3:focus {
  color: #fff !important;
  box-shadow: inset -5.5em 0 0 0 #ff03b5, inset 5.5em 0 0 0 #ff03b5;
}

.shining-effect {
  position: relative;
  color: rgb(255, 0, 255);
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgb(234, 0, 255),
    rgb(21, 255, 0),
    rgb(0, 255, 255),
    rgb(251, 255, 0),
    rgb(0, 140, 255)
  );
  background-repeat: no-repeat;
  background-size: 85%;
  animation: shining 500ms linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.2);
  -webkit-animation: shining 500ms linear infinite;
}

@keyframes shining {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}

/* Loader multicolor */

.loader {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(aqua, #fff, aqua);
  animation: spin 1.7s linear infinite;
  -webkit-animation: spin 1.7s linear infinite;
}

#nav-link1 {
  margin: 0;
  padding: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.loader:hover {
  animation: spin 1s linear infinite;
}

.loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(aqua, #fff, aqua);
}

.loader span:nth-child(1) {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
.loader span:nth-child(3) {
  filter: blur(15px);
  -webkit-filter: blur(15px);
}
.loader span:nth-child(4) {
  filter: blur(px);
  -webkit-filter: blur(px);
}

.loader:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: black;
  border-radius: 50%;
}

/** Icone phone hover **/
/**
figure:hover .figure-caption {
    -webkit-animation: blur-out-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: blur-out-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes blur-out-expand {
0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
}
100% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
}
}
@keyframes blur-out-expand {
0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
}
100% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
}
} **/

/** Image icon app effect **/

figure:hover {
  -webkit-animation: scale-down-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-down-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}

/** Fill text Hover**/

.fill-link {
  position: relative;
}

.fill-link:before {
  content: attr(data-text);
  position: absolute;
  color: #00c6fb;
  width: 0%;
  overflow: hidden;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}

.services-container:hover .fill-link:before {
  width: 100% !important;
}

/** Glowing text click me **/
/**

.glowing-text{
    font-size: 2rem;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #111;
}

.glowing-text span{
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: glowing-text 2s linear infinite;
    -webkit-animation: glowing-text 2s linear infinite;
}

.glowing-text span:nth-child(1){
    animation-delay: .25s ;
}

.glowing-text span:nth-child(2){
    animation-delay: .5S;
}

.glowing-text span:nth-child(3){
    animation-delay: .75s;
}

.glowing-text span:nth-child(4){
    animation-delay:1s ;
}

.glowing-text span:nth-child(5){
    animation-delay: 1.25s;
}

.glowing-text span:nth-child(6){
    animation-delay:1.5s ;
}

@keyframes glowing-text{
    0%, 100%{
        color: #fff;
        filter: blur(2px)    ;
        -webkit-filter: blur(2px)    ;
        text-shadow: 0 0 10px aqua,
                    0 0 20px aqua,
                    0 0 40px aqua;
}
    0%, 95%{
        color: #111;
        filter: blur(0px)    ;
        -webkit-filter: blur(0px)    ;
        text-shadow: 0 0 10px none;
}
}

**/
