.header-container{
    padding-right: 0px;
    padding-left: 0px;
}

.site-wrapper{
    height: 2000px;
}

article{
    padding: 100px 0;
}

.bird-box{
    position: relative;
    height: 600px;
    background-image: url('images/backgrounds/sky-bkg.jpg');
    background-size: cover;
    position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.logo{
    height: 250px;
    width: 100%;
    background-image: url('images/backgrounds/titre1.png');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -125px;
}

.fore-bird{
    width: 960px;
    margin-left: -480px;
    height: 723px;
    background: rgba(255, 192, 203, 0.411);
    background-image: url('../new-website/spacex-transparent\ -\ copie.png');
    background-repeat: no-repeat;
    position: right bottom;
    position: absolute;
    left: 80%;
    top: 425px;
}

.back-bird{
    width: 500px;
    height: 360px;
    background-image: url('images/backgrounds/moon-transparent.png');
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: 30%;
    top: 5%;
    margin-left: -250px;
}

.bird-box figure{
    margin: auto;
}

.bird-box img{
    max-width: 100%;
}