.header-container{
    padding-right: 0px;
    padding-left: 0px;
}

.site-wrapper{
    height: 200vh;
}


.content-article{
    padding: 100px 0;
    background: #fff;
}

.bird-box{
    position: relative;
    height: 650px;
    background-image: url('images/backgrounds/stars-sky.png');
    background-size: cover;
    position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.logo{
    width: 100%;
    height: 250px;
    background-image: url('images/backgrounds/titre-walid-without-shadow.png');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 45%;
    margin-top: -125px;
    z-index: 3;
}

.tree{
    width: 250px;
    height: 215px;
    background-image: url('images/backgrounds/tree-cartoon.png');
    background-repeat: no-repeat;
    position: right bottom;
    position: absolute;
    left: 66%;
    bottom: 0%;
    z-index: 1;
}


.moon{
    width: 150px;
    height: 160px;
    background-image: url('images/backgrounds/moon-transparent.png');
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: 45%;
    top: 11%;
}

.uranus{
    width: 80px;
    height: 80px;
    background-image: url('images/backgrounds/uranus-min2.gif');
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: 10%;
    top: 10%;
}

.kid-walking{
    width: 22%;
    height: 100px;
    background-image: url('images/backgrounds/boy-walking2min.gif');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 19%;
    bottom: -0.4%;
    z-index: 2;
}

.sheep{
    width: 90px;
    height: 80px;
    background-image: url('images/backgrounds/sheep-min.gif');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 82%;
    bottom: -2.4%;
    z-index: 2;
}

.wolf{
    width: 120px;
    height: 55px;
    background-image: url('images/backgrounds/wolf-min.gif');
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: -8%;
    bottom: 0%;
    z-index: 3;
}


.bird-box figure{
    margin: auto;
}

.bird-box img{
    max-width: 100%;
}