.header-container{
    padding-right: 0px;
    padding-left: 0px;
}

.site-wrapper{
    height: 200vh;
}


.content-article{
    padding: 80px 0;
    color: #ffffff;
}

.content-article h1{
    font-size: 2rem;
}

article strong{
    color: #00ffff;
}

.colored-word-hobbies{
    color: aqua;
}

.colored-word-lime{
    color: #00ff41;
}


.bird-box{
    position: relative;
    height: 90vh;
    background-image: url('images/backgrounds/stars-sky.png');
    background-size: cover;
    position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.logo{
    width: 100%;
    height: 200px;
    background-image: url('images/backgrounds/titre-walid-without-shadow.png');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 48%;
    margin-top: -125px;
    z-index: 3;
}


.moon{
    width: 200px;
    height: 200px;
    background-image: url('images/backgrounds/moon-transparent.png');
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: 43%;
    top: 10%;
    transition: transform ease-out;
    -webkit-transition: transform ease-out;
    -moz-transition: transform ease-out;
    -ms-transition: transform ease-out;
    -o-transition: transform ease-out;
}

.uranus{
    width: 80px;
    height: 80px;
    background-image: url('images/backgrounds/uranus-min2.gif');
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: 10%;
    top: 10%;
}


.astronaut{
    width: 120px;
    height: 120px;
    background-image: url('images/backgrounds/gif-astronaut-min.gif');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 46%;
    top: 14%;
    z-index: 2;
}


.ufo{
    width: 80px;
    height: 60px;
    background-image: url('images/backgrounds/ufo-trans.gif');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 55%;
    top: 30%;
    z-index: 1;
    transition: margin ease-in-out;
    -webkit-transition: margin ease-in-out;
    -moz-transition: margin ease-in-out;
    -ms-transition: margin ease-in-out;
    -o-transition: margin ease-in-out;
}

.ufo2{
    width: 80px;
    height: 60px;
    background-image: url('images/backgrounds/ufo-trans.gif');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 80%;
    top: 20%;
    z-index: 1;
    transition: margin ease-in-out;
    -webkit-transition: margin ease-in-out;
    -moz-transition: margin ease-in-out;
    -ms-transition: margin ease-in-out;
    -o-transition: margin ease-in-out;
}

/** Parallax 2 **/

.parallax2-section{
    margin-top: 200px;
}

.parallax2{
    position: relative;
    height: 430px;
    background-image: url('images/backgrounds/stars-sky.png');
    background-size: cover;
    position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    z-index: 3;
}

.tree2{
    width: 250px;
    height: 215px;
    background-image: url('images/backgrounds/tree-cartoon.png');
    background-repeat: no-repeat;
    position: right bottom;
    position: absolute;
    left: 66%;
    bottom: 0%;
    z-index: 1;
}

.sheep2{
    width: 90px;
    height: 80px;
    background-image: url('images/backgrounds/sheep-min.gif');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 82%;
    bottom: -2.4%;
    z-index: 2;
}

.wolf2{
    width: 120px;
    height: 55px;
    background-image: url('images/backgrounds/wolf-min.gif');
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: -65%;
    bottom: 1%;
    z-index: 3;
}

.kid-running{
    width: 22%;
    height: 100px;
    background-image: url('images/backgrounds/boy-walking2min.gif');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: -110%;
    bottom: 0%;
    z-index: 2;
}

.moon2{
    width: 150px;
    height: 160px;
    background-image: url('images/backgrounds/moon-transparent.png');
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: 45%;
    top: 0%;
}




.tap-here{
    position: absolute;
    top:85%;
    left: 48.6%;
    font-size: 1.2em;
    transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
}

.tap-here2{
height: 20px;
position: absolute;
top: -40%;
left: 82%;
transform: rotate(180deg) !important;
}

.tap-here3{
    position: absolute;
    bottom: 5%;
    left: 50%;
    height: 20px;
    font-size: 1.5rem;
}

.bird-box img{
    max-width: 100%;
}