
svg {
display: block;
overflow: visible;
}

.slider-container {
position: absolute;
height: 100%;
width: 100%;
margin:auto;
user-select: none;
background-image: url("images/screen-icons/app-coding.gif");
background-repeat: no-repeat;
background-size: cover;
z-index: 2;
}

.slider-box{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
}

.slide__text-desc {
font-family: 'Open Sans Condensed', sans-serif;
}

*, *:before, *:after {
box-sizing: border-box;
box-sizing: border-box;
margin: 0;
padding: 0;
}

svg {
display: block;
overflow: visible;
}

.slider-control {
z-index: 2;
position: absolute;
top: 0;
width: 12%;
height: 100%;
transition: opacity 0.3s;
will-change: opacity;
opacity: 0;
}
.slider-control.inactive:hover {
cursor: auto;
}
.slider-control:not(.inactive):hover {
opacity: 1;
cursor: pointer;
}
.slider-control.left {
left: 0;
background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
}
.slider-control.right {
right: 0;
background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
}

.slider-pagi {
position: absolute;
z-index: 3;
left: 50%;
bottom: 2rem;
transform: translateX(-50%);
font-size: 0;
list-style-type: none;
padding: 0;
}
.slider-pagi__elem {
position: relative;
display: inline-block;
vertical-align: top;
width: 10px;
height: 10px;
margin-left: 4px;
border-radius: 50%;
border: 1px solid #fff;
cursor: pointer;
}
.slider-pagi__elem:before { content: ""; position: absolute; left: 50%; top: 50%; width: .8rem; height: .8rem; background: #fff; border-radius: 50%; transition: transform 0.3s; transform: translate(-50%, -50%) scale(0); -webkit-transition: transform 0.3s; -moz-transition: transform 0.3s; -ms-transition: transform 0.3s; -o-transition: transform 0.3s;
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
transform: translate(-50%, -50%) scale(1);
}

.slider {
z-index: 1;
position: relative;
height: 100%;
}
.slider.animating { transition: transform 0.5s; will-change: transform; -webkit-transition: transform 0.5s; -moz-transition: transform 0.5s; -ms-transition: transform 0.5s; -o-transition: transform 0.5s;
}
.slider.animating .slide__bg {
transition: transform 0.5s;
will-change: transform;
}

.slide {
position: absolute;
top: 0;
width: 100%;
height: 100%;
overflow: hidden;
}


.slide.active .slide__overlay,
.slide.active .slide__text { opacity: 1; transform: translateX(0); -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0);
}
.slide__bg {
position: absolute;
top: 0;
left: -50%;
width: 100%;
height: 100%;
background-size: cover;
will-change: transform;
}
.slide:nth-child(1) {
left: 0;
}
.slide:nth-child(1) .slide__bg {
left: 0;
background-image: url("images/porftfolio/myportfolio-min.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
}
.slide:nth-child(1) .slide__overlay-path {
fill: #191b19b3;
}
@media (max-width: 991px) {
.slide:nth-child(1) .slide__text {
    background-color: rgba(233, 156, 126, 0.8);
}
}
.slide:nth-child(2) {
left: 100%;
}
.slide:nth-child(2) .slide__bg {
left: -50%;
background-image: url("images/porftfolio/cutom-min.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
}
.slide:nth-child(2) .slide__overlay-path {
fill: #5f00f9ad;
}
@media (max-width: 991px) {
.slide:nth-child(2) .slide__text {
    background-color: rgba(48, 48, 48, 0.8);
}
}
.slide:nth-child(3) {
left: 200%;
}
.slide:nth-child(3) .slide__bg {
left: -100%;
background-image: url("images/porftfolio/avisgo-img-min.jpg");
}
.slide:nth-child(3) .slide__overlay-path {
fill: #45a54ab3;
}
@media (max-width: 991px) {
.slide:nth-child(3) .slide__text {
    background-color: rgba(41, 66, 74, 0.8);
}
}
.slide:nth-child(4) {
left: 300%;
}
.slide:nth-child(4) .slide__bg {
left: -150%;
background-image: url("images/porftfolio/autour-dun-cafe-img-min.jpg");
}
.slide:nth-child(4) .slide__overlay-path {
fill: #c941b9d0;
}
@media (max-width: 991px) {
.slide:nth-child(4) .slide__text {
    background-color: rgba(203, 198, 195, 0.8);
}
}
.slide:nth-child(5) {
left: 400%;
}
.slide:nth-child(5) .slide__bg {
left: -200%;
background-image: url("images/porftfolio/mon-site-img-min.jpg");
}
.slide:nth-child(5) .slide__overlay-path {
fill: #5c5c5c;
}
@media (max-width: 991px) {
.slide:nth-child(5) .slide__text {
    background-color: rgba(203, 198, 195, 0.8);
}
}
.slide:nth-child(6) {
left: 500%;
}
.slide:nth-child(6) .slide__bg {
left: -250%;
background-image: url("images/porftfolio/webagency-img-min.jpg");
}
.slide:nth-child(6) .slide__overlay-path {
fill: #3b66d3b9;
}
@media (max-width: 991px) {
.slide:nth-child(6) .slide__text {
    background-color: rgba(203, 198, 195, 0.8);
}
}

.slide:nth-child(7) {
    left: 600%;
    }
    .slide:nth-child(7) .slide__bg {
    left: -300%;
    background-image: url("images/porftfolio/office-strasbourg-img.jpg");
    }
    .slide:nth-child(7) .slide__overlay-path {
    fill: #cb893ed0;
    }
    @media (max-width: 991px) {
    .slide:nth-child(7) .slide__text {
        background-color: rgba(203, 198, 195, 0.8);
    }
    }

.slide__content {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.slide__overlay { position: absolute; bottom: 0; left: 0; height: 100%; min-height: 810px; transition: transform 0.5s 0.5s, opacity 0.2s 0.5s; will-change: transform, opacity; transform: translate3d(-20%, 0, 0); opacity: 0; -webkit-transform: translate3d(-20%, 0, 0); -moz-transform: translate3d(-20%, 0, 0); -ms-transform: translate3d(-20%, 0, 0); -o-transform: translate3d(-20%, 0, 0);
}
@media (max-width: 991px) {
.slide__overlay {
    display: none;
}
}
.slide__overlay path {
opacity: 0.8;
}
.slide__text { position: absolute; width: 60%; bottom: 15%; left: 12%; color: #fff; transition: transform 0.5s 0.8s, opacity 0.5s 0.8s; will-change: transform, opacity; transform: translateY(-50%); opacity: 0; -webkit-transition: transform 0.5s 0.8s, opacity 0.5s 0.8s; -moz-transition: transform 0.5s 0.8s, opacity 0.5s 0.8s; -ms-transition: transform 0.5s 0.8s, opacity 0.5s 0.8s; -o-transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
}
@media (max-width: 991px) {
.slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20rem;
    text-align: center;
    transform: translateY(50%);
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    padding: 0 1rem;
    -webkit-transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    -moz-transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    -ms-transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    -o-transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}
}
.slide__text-heading {
    font-family: 'Open Sans', sans-serif;
font-size: 3rem;
margin-bottom: 2rem;
}
@media (max-width: 991px) {
.slide__text-heading {
    line-height: 10rem;
    font-size: 2rem;
}
}
.slide__text-desc {
font-family: 'Open Sans Condensed', sans-serif;
margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
.slide__text-desc {
    display: none;
}
}
.slide__text-link {
z-index: 5;
color: #fff;
display: inline-block;
position: relative;
padding: 0.5rem;
cursor: pointer;
font-family: 'Open Sans Condensed', sans-serif;
font-size: 1.3rem;
perspective: 1000px;
}

.slide__text-link:hover{
    color:#fff;
    text-decoration: none;
}

@media (max-width: 991px) {
.slide__text-link {
    margin: -2rem 0 8rem;
}
}
.slide__text-link:before { z-index: -1; content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; transform-origin: 50% 100%; transform: rotateX(-85deg); transition: transform 0.3s; will-change: transform; -webkit-transform: rotateX(-85deg); -moz-transform: rotateX(-85deg); -ms-transform: rotateX(-85deg); -o-transform: rotateX(-85deg);
}
.slide__text-link:hover:before { transform: rotateX(0); -webkit-transform: rotateX(0); -moz-transform: rotateX(0); -ms-transform: rotateX(0); -o-transform: rotateX(0);
}