
/** Font Sizes and Families **/

h1 , h2 , h3{
    font-family: 'Varela Round', sans-serif;
}

p {
    font-family: 'Titillium Web', sans-serif;
}

body{
    background: linear-gradient(to bottom, #020a18, #020b1a, #030c1b, #030c1d, #030d1f, #020d24, #010e28, #000e2d, #000d35, #000b3d, #000844, #01044a);
    background: -webkit-linear-gradient(to bottom, #020a18, #020b1a, #030c1b, #030c1d, #030d1f, #020d24, #010e28, #000e2d, #000d35, #000b3d, #000844, #01044a);
    background: -moz-linear-gradient(to bottom, #020a18, #020b1a, #030c1b, #030c1d, #030d1f, #020d24, #010e28, #000e2d, #000d35, #000b3d, #000844, #01044a);
    background: -ms-linear-gradient(to bottom, #020a18, #020b1a, #030c1b, #030c1d, #030d1f, #020d24, #010e28, #000e2d, #000d35, #000b3d, #000844, #01044a);
    background: linear-gradient #020a18, #020b1a, #030c1b, #030c1d, #030d1f, #020d24, #010e28, #000e2d, #000d35, #000b3d, #000844, #01044a);
}

hr{
    background: aqua;
    width: 22%;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}



/** Propriétés Ecran Principal **/


.phone-container{
    padding-top: 100px;
}

#container-secondaire{
    padding-top: 100px;
}

.phone-section{
    min-height: 99vh;
    padding-right: 0px;
    padding-left: 0px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 4rem;
}

.samsung{
    position: relative;
    width: 450px;
    min-height: 97vh;
    padding-top: 100px;
    background: #0c0c0c;
    border-radius: 30px;
    border: 2px solid #E7E7E5;
    overflow: hidden;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

p {
    font-size: 17px;
    font-weight: lighter;
}

.samsung h3{
    font-size: 1.5em;
}

.samsung h2{
    font-size: 1.75em;
}

.samsung h4{
    font-size: 15px;
}

.screen{
    position: absolute;
    height: 100%;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background:transparent;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow .7s;
    -webkit-transition: box-shadow .7s;
    -moz-transition: box-shadow .7s;
    -ms-transition: box-shadow .7s;
    -o-transition: box-shadow .7s;
}

 .screen:before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(92, 92, 92, 0.02);
    transform: skew(-15deg);
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/** Image de fond d'écran **/

.screen #image-fond{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-position: top center;
    opacity: 1;
    border-radius:px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

/** Barre Haute notifications Ecran **/

.phone-network-container{
    position: absolute;
    top: 0;
    height: 42px;
    background: rgb(13, 13, 13, .2);
    padding-top: 6px;
    opacity: 1;
    z-index: 2;
    overflow: hidden;
}

.phone-network-container i {
    font-size: 15px;
    line-height: 28px;
    color: transparent;
    transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
}

/** Led applications **/ 

#battery-icon{
    color: lime;
    opacity: .2;
}


#power-icon{
    color: #00ffff;
    opacity: .2;
}

#i-wifi{
    color : #00ffff;
    opacity: .2;
}

.app-led-box .fa-home{
    color:#fff;
}

.app-led-box .fa-images{
    color: gold;
}

.app-led-box .fa-user-circle{
    color:#f006ff;
}

.app-led-box .fa-code{
    color: #e8ff00;
}

.app-led-box .fa-gamepad{
    color: #00ff9b;
}

.app-led-box .fa-comments{
    color: #fff;
}

.app-led-box .fa-rocket{
    color: #00fff5;
}








/** Heure et date **/

.phone-time{
    color: #fff;
    font-weight: 200;
    z-index: 1;
    position: absolute;
    top: 25%;
}

.phone-hour{
    font-size: 3em;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.2em;
    letter-spacing: 1px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    opacity: 1;
}

.date {
    font-size: 26px;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 2px;
    opacity: 1;
}


/** Champ de recherche Google **/

#champ-google{
    position: absolute;
    top: 7%;
    opacity: 1;
    z-index: 2;
}

#champ-google span{
    background:rgba(255, 255, 255, 0.08);
    border-radius: 30px;
    border: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

#champ-google i{
    color: grey;
}

/** Bouton navigation Pad **/

.phone-menu-buttons{
    position: absolute;
    bottom: 0px;
    padding: 0px;
    background: rgb(13, 13, 13, .2);
    height: 70px;
    border-radius: 0px 0px 25px 25px;
    -webkit-border-radius: 0px 0px 25px 25px;
    -moz-border-radius: 0px 0px 25px 25px;
    -ms-border-radius: 0px 0px 25px 25px;
    -o-border-radius: 0px 0px 25px 25px;
    z-index: 2;
}

.phone-menu-buttons i{
    font-size: 22px;
}

#touch-right-button{
    color: #00ffff;
    opacity: .3;
}

#touch-right-button i {
    font-size: 18px;
}

/** Applications Pad **/

.gallery img{
    width: 55px;
    height: 45px;
    margin-left: 50%;
    background: transparent;
    padding: 1px;
    border-radius:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}

.figure{
    background: transparent;
}


.gallery{
    height: 100px;
    background: transparent;
}

.phone-app-container{
    position: absolute;
    top: 52%;
    padding-right: 0px;
    padding-left: 0px;
    opacity: 1;
    padding: 20px 0;
}

.row-app{
    margin-top: 20px;
}

.phone-app-gallery{
    padding-left: 5px;
    padding-right: 5px;
}

.phone-app-gallery figcaption{
    font-size: 13px;
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    position: relative;
    top: 6px;
}

.figure img{
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#btn7{
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 50%;
    transform: translate(-50%);
    width: 100%;
}

/** Contenu Enfant Principal Navigation **/


.screen-content{
    width: 100%;
    position: absolute;
    top: 40px;
    bottom: 70px;
}

.screen-content-child{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}


/** Contenu de Remplacement enfant Section du Site **/

.screen-content-hidden{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    top: 0;
    bottom: 0;
}


.child-content-header{
    padding: 60px 15px;
    color: white;
    z-index: 2;
}

/** CSS section enfant app 1 **/



/******************* Style Buttons Pad pour fonction allumage **************/

#touch-center-button{
    color: blue;
    border: none;
}

/*************************************/



/** Slider Content-Child1 **/

#myCarousel{
    height: 100%;
    width: 100%;
}

.carousel-inner{
    width: 100%;
    height: 100%;
    position: absolute;
}

.carousel-inner-item{
    width: 100%;
    height: 100%;
}

.carousel-item{
    width: 100%;
    height: 100%;
}


#myCarousel li {
    width: 30px;
    height: 4px;
    border-radius: 8px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

#myCarousel li.active{
    width: 18px;
    transition: 0.3s;
    background-color: lime;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}



#container-fluid-carousel1 , #container-fluid-carousel2{
    padding-right: 0px;
    padding-left: 0px;
    height: 100%;
    position: absolute;
}

#container-fluid-background-video{
padding-right: 0px;
padding-left: 0px;
height: 100%;
position: absolute;
}

.carousel-text{
    background: #5F00FF80;
    padding: 10px 15px;
    border-radius: 10px;
}

.carousel-caption{
    bottom: 25px;
}


/** Background Video Content-Child2 **/

header {
position: relative;
background-color: black;
height: 100%;
min-height: 25rem;
width: 100%;
}

header video {
position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: 0;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}

header .container {
position: absolute;
left: 10%;
bottom: 10%;
z-index: 1;
}

header .overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: 0;
z-index: 1;
}

.text-on-video{
    background: #19244047;
    padding: 12px 16px;
    border-radius: 5px;
}

@media (pointer: coarse) and (hover: none) {
header {
    background: url('images/backgrounds/img-bkg-jumb1.jpg') black no-repeat center center scroll;
}
header video {
    display: none;
}
}


/** Jumbotron Child3 **/

.jumbotron {
    background-image: url('images/screen-icons/app-coding-icon.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-bottom: 0px;
    overflow-y: scroll;
}

#jumbotron-inside-child3{
    background: #5F00FF80;
    padding: 1em;
    border-radius: 5px;
    color: white;

}

.jumbotron3-buttons-container{
    padding-right: 0px;
    padding-left: 0px;
}

#jumbotron-mirror{
        background: rgba(0, 0, 0, 0.25);
        height: 100%;
        width: 100%;
}


.rowY{
    border: 1px solid lime;
    height: 500px;
}



/** Child4 Logiciels et Bureautique **/

#screen-content-child4{
    background-image: url('images/backgrounds/code-min.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-bottom: 0px;
    overflow-y: scroll;
}

.box-logiciels-bureautique{
    padding-right: 0px;
    padding-left: 0px;
    z-index: 2;
}

.box-logiciels-bureautique img{
    width: 40%;
}

.logiciels-row{
    height: 200px;
}

.logiciels-container{
    padding-bottom: 40px;
}

.service-heading{
    font-size: 15px;
    color: white;
    padding: 0 10px;
}


/** Child8 Logiciels et Bureautique **/

#screen-content-child8{
    background-image: url('images/backgrounds/keybord-rainbow-min.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-bottom: 0px;
}



/* Ul social Square effect */

.ul-social-footer{
padding: 70px 0;
}

.ul-social-footer li {
    list-style: none;
    margin: 0 auto;
}

.ul-social-footer li a
{
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.ul-social-footer li a span
{
    position: absolute;
    transition: transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}

.ul-social-footer li a span:nth-child(1),
.ul-social-footer li a span:nth-child(3)
{
    width: 100%;
    height: 1px;
    background: #fff;
}

.ul-social-footer li a span:nth-child(1)
{
    top: 0;
    left: 0;
    transform-origin: right;
}

.ul-social-footer li a:hover span:nth-child(1)
{
    transform: scale(0);
    transform-origin: left;
    transition: transform .5s ;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: transform .5s ;
    -moz-transition: transform .5s ;
    -ms-transition: transform .5s ;
    -o-transition: transform .5s ;
}

.ul-social-footer li a span:nth-child(3)
{
    bottom: 0;
    left: 0;
    transform-origin: left;

}

.ul-social-footer li a:hover span:nth-child(3)
{
    transform: scale(0);
    transform-origin: right;
    transition: transform .5s ;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: transform .5s ;
    -moz-transition: transform .5s ;
    -ms-transition: transform .5s ;
    -o-transition: transform .5s ;
}


.ul-social-footer li a span:nth-child(2),
.ul-social-footer li a span:nth-child(4)
{
    width: 1px;
    height: 100%;
    background: #fff;
}

.ul-social-footer li a span:nth-child(2)
{
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
}

.ul-social-footer li a:hover span:nth-child(2)
{
    transform: scaleY(1);
    transform-origin: top;
    transition: transform .5s ;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transition: transform .5s ;
    -moz-transition: transform .5s ;
    -ms-transition: transform .5s ;
    -o-transition: transform .5s ;
}

.ul-social-footer li a span:nth-child(4)
{
    top: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: top;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
}

.ul-social-footer li a:hover span:nth-child(4)
{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .5s ;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transition: transform .5s ;
    -moz-transition: transform .5s ;
    -ms-transition: transform .5s ;
    -o-transition: transform .5s ;
}

.row-social-icons{
   
}

.facebook {
    color: #1C56CF;
}

.linkedin {
    color: #1464D4;
}

.twitter {
    color: #00aced;
}


/** Footer Copyright **/

.img-footer{
width: 120px;
padding: 10px 0;
}

.empty-part-text{
    top: 50%;
    color: #dfff00;
    background: black;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    position: absolute;
    z-index: 2;
}


/** Media Queries **/

@media screen and (max-width: 720px) {
    
    .samsung{
        width: 100% !important;
        height: auto !important;
    }

    p {
        font-size: 15px;
    }

    .samsung h2 {
        font-size: 1.5em;
    }

    .samsung h3 {
        font-size: 1.35em;
    }

    .content-article h1{
        font-size: 1.9em;
    }

    header .container {
        position: absolute;
        left: 3%;
        bottom: 25%;
        z-index: 2;
        width: 95%;
        }

    .gallery img{
        width: 35px !important;
        height: 30px !important;
    }

    .phone-app-container{
        padding: 0 30px;
    }

    .box-logiciels-bureautique img {
        width: 35% !important;
    }

    .service-heading{
        font-size: 12px !important;
    }

    .wolf{
        left: -27%;
    }

    .uranus{
        top: 5%;
        left: 5%;
    }

    .ufo{
        top: -45%;
    }

    #btn7{
        width: 100% !important;
    }

    #form-container{
        padding: 30px 20px;
    }

    textarea .form-control{
        height: 120px;
    }

    .phone-app-gallery figcaption{
        font-size: 12px !important;
    }

    #touch-right-button{
        color: transparent !important;
        text-shadow: none !important;
    }

    .astronaut{
        top: 20%;
    }
  }

  /** End Video **/

  #videoDiv {
      width: 100%; 
      height: 100%;
    }

    #videoBlock {
        width: 100%; 
        height: 100%;  
        display: flex;  
        justify-content: center; 
        align-items: center;}


/** Tv Screen **/

#monitor {
	background: #000; 
	position: relative;
	border-top: 3px solid #888; 
	margin: 5%;
	padding: 2% 2% 4% 2%; 
	border-radius: 10px; 
	border-bottom-left-radius: 50% 2%; 
	border-bottom-right-radius: 50% 2%; 
	transition: margin-right 1s;
}

#monitor:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 3%;
	left: 36%;
	height: .5%; 
	width: 28%;
	background: #06a8ff; 
	border-radius: 50%; 
}

#monitorscreen {
	position: relative;
  background-color: #777;
	background-size: cover; 
	background-position: top center;
	height: 0; 
	padding-bottom: 56.25%; 
	position: relative;
	overflow: hidden;
}

.tv{
    width: 350px;
    height: 400px;
    background-image: url('images/backgrounds/command-tv.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}


@media all and (min-width: 960px) {
	#monitor {
		-webkit-animation: tvflicker .2s infinite alternate; 
		-moz-animation:    tvflicker .5s infinite alternate; 
		-o-animation:      tvflicker .5s infinite alternate; 
		animation:         tvflicker .5s infinite alternate; 
	}

	@-webkit-keyframes tvflicker {
	  0%   { box-shadow: 0 0 100px 0 rgba(200,235,255,0.4); }
	  100% { box-shadow: 0 0 95px 0 rgba(200,230,255,0.45); }
	}
	@-moz-keyframes tvflicker {
	  0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
	  100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
	}
	@-o-keyframes tvflicker {
	  0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
	  100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
	}
	@keyframes tvflicker {
	  0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
	  100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
	}
}